@using MvcTodo.ViewModels
@model MvcTodo.ViewModels.TodoViewModel
@{
	ViewData["Title"] = $"Todo - 編集";
}
<div class="table">
	@using(Html.BeginForm("Save", "Todo", null, FormMethod.Post))
	{
		<div class="table_line">
			<div class="table_sub_line form">
				<div class="row_header">@Html.DisplayNameFor(model => model.Title)</div>
				<div class="row_body">:</div>
				<div class="row_body">@Html.TextBoxFor(model => model.Title)</div>
			</div>
			<div class="table_sub_line error">
				<div class="row_header">&nbsp;</div>
				<div class="row_body">&nbsp;</div>
				<div class="row_body">エラー</div>
			</div>
			<div class="table_sub_line form">
				<div class="row_header">@Html.DisplayNameFor(model => model.LimitDate)</div>
				<div class="row_body">:</div>
				<div class="row_body">@Html.TextBoxFor(model => model.LimitDate)</div>
			</div>
			<div class="table_sub_line error">
				<div class="row_header">&nbsp;</div>
				<div class="row_body">&nbsp;</div>
				<div class="row_body">エラー</div>
			</div>
			<div class="table_sub_line form">
				<div class="row_header">完了</div>
				<div class="row_body">:</div>
				<div class="row_body">@Html.CheckBoxFor(model => model.IsCompleted)</div>
			</div>
			<div class="table_sub_line form">
				<div class="row_body"><a href="#" onclick="javascript:todoForm.submit()" class="button">登録</a></div>
				<div class="row_body"><a href="#" class="button">削除</a></div>
			</div>
		</div>
		@Html.HiddenFor(model => model.TodoId)
	}
	<div class="table_bottom_line">
		<div class="table_bottom">@Html.ActionLink(ViewConst.ModeBack, "Index", "Todo", null, new { @class = "button" })</div>
	</div>
</div>
